#section {
  margin-left: 4px;
  margin-top: 11px;
  margin-right: 4px;
}

body {
  background-color: #e2dfdf;
}

#first_block {
  background-color: #deebe6;
  height: 390px;
  box-shadow: 0 0 6px 1px #acaca8;
  display: block;
  padding-top: 30px; 
}

.text-block {
  margin-bottom: 20px;
  color: #545196;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 22px;
}

.form_block {
  margin: auto;
  width: 85%;
}

.button {
  height: 50px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  line-height: inherit;
  text-decoration: none;
  border: 0;
}

.submit-button {
  width: 190px;
  margin: 4px 0px 4px 0px;
  border-radius: 3px 0px 0px 3px;
  background-color: #787799;
  color: white;
}

.github-button {
  width: 80px;
  background-color: black;
  margin-left: -5px;
  color: white;
  border-radius: 0px 3px 3px 0px;
}

.submit-button:hover {
  background-color: #7270a8;
}

.github-button:hover {
  background-color: rgb(48, 48, 48);
}
